@model IEnumerable<coreuygulama.Models.Kitaplar>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Kaydet">Kaydet</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.kitapadi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.basimyili)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.turid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.yazar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.kitapadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.basimyili)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.turid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yazar.YazarId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
