@model IEnumerable<coreuygulama.Models.Turler>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Kaydet">Kaydet</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.kitapturu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.kitapturu)
            </td>
            <td>
                <a asp-action="Guncelle" asp-route-id="@item.id">Güncelle</a> |
                <a asp-action="Detay" asp-route-id="@item.id">Detay</a> |
                <a asp-action="Sil" asp-route-id="@item.id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
